{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h3 class="display-1"> My Surveys </h3>
        {% for survey in surveys %}
        <div class="col-md-4">
            <a href="{% url 'survey:survey_detail' survey.slug %}" class="text-decoration-none text-center p-3">
                <div class="card p-3">
                    <div class="card-title">
                        <h3>
                            {{ survey.name }}
                        </h3>
                    </div>
                    <div class="p">
                        <span> Created: {{ survey.date_created }} </span> <br>
                        <span> Updated: {{ survey.date_updated }} </span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}