{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="mt-3">
                Url: {{ survey_url }}
            </p>
            <h1>
                {{ survey.name }}
            </h1>
            <p>
                Please fill and submit your response
            </p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form | crispy }}
                <input class="btn btn-success btn-md" type="submit" value="Submit">
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}