{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class=" p-3">
        <h1>
            {{ survey.name }} <br>
        </h1>
        <p class="mt-3">
            <a href="{% url 'survey:edit_survey' survey.slug %}" class="btn btn-info btn-md">Edit This Survey</a>
        </p>
    </div>
    <div class="row">
        <h3> <span>{{ responses.count }}</span> Responses </h3>
        {% for response in responses %}
        <div class="mt-3">
            <h4>
                # {{ forloop.counter }}
            </h4>
            <p>
                <tr>
                    Date submited: {{ response.date_submited }}
                </tr>
            </p>
        </div>
        <table class="table table-striped ">
            <tr class="text-bolder">
                <td>About You</td>
                <td>Salary</td>
                <td>Gender</td>
            </tr>
            <tbody>
                <tr>
                    <td>{{ response.about_you }}</td>
                    <td>{{ response.salary }}</td>
                    <td>{{ response.gender }}</td>
                </tr>
            </tbody>

        </table>
        {% endfor %}
    </div>
</div>
{% endblock %}